@model MVCnewModel.ViewModel.CostViewModelWithBag

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.Title</title>
</head>
<body>
<div>
      @Model.cost.ID
      @Model.cost.Category 
      @Model.cost.Amount
</div>
</body>
</html>